In [1]:
import pandas as pd
print("Jupyter is working!")

Jupyter is working!

In [7]:
%load_ext autoreload
%autoreload 2
from flask import Flask
app = Flask(__name__)

@app.route('/')
def home():
    return "Flask is working!"

from werkzeug.serving import run_simple
run_simple('localhost', 5000, app)

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://localhost:5000
Press CTRL+C to quit

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

127.0.0.1 - - [08/Jun/2025 11:34:36] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2025 11:34:36] "GET /favicon.ico HTTP/1.1" 404 -

In [16]:
import pandas as pd

# Load the CSV file (no need to skip header rows since column names are now in the first row)
df = pd.read_csv('data/NASA-POWER.csv')

# Show the first few rows
print(df.head())

   YEAR  MO  DY  CLRSKY_SFC_SW_DWN    T2M  ALLSKY_SFC_SW_DWN   RH2M  WS2M  \
0  2020   1   1               6.35  26.84               4.35  81.59  1.95
1  2020   1   2               6.30  26.48               2.57  88.40  1.56
2  2020   1   3               6.33  26.61               3.18  84.16  1.68
3  2020   1   4               6.57  26.58               4.33  80.04  1.98
4  2020   1   5               6.49  26.51               4.57  79.85  1.85

   ALLSKY_SFC_LW_DWN  PRECTOTCORR
0               9.70         0.60
1               9.76        13.78
2               9.51         4.29
3               9.38         0.18
4               9.49         0.24

In [15]:
# Check column names and data types
print(df.dtypes)

YEAR                   int64
MO                     int64
DY                     int64
CLRSKY_SFC_SW_DWN     object
T2M                  float64
ALLSKY_SFC_SW_DWN     object
RH2M                 float64
WS2M                 float64
ALLSKY_SFC_LW_DWN    float64
PRECTOTCORR          float64
dtype: object

In [14]:
# Replace -999.0 with pd.NA
df.replace(-999.0, pd.NA, inplace=True)

# Check how many missing values there are
print(df.isna().sum())

YEAR                   0
MO                     0
DY                     0
CLRSKY_SFC_SW_DWN    306
T2M                    0
ALLSKY_SFC_SW_DWN      2
RH2M                   0
WS2M                   0
ALLSKY_SFC_LW_DWN      0
PRECTOTCORR            0
dtype: int64

In [17]:
# Drop rows with any NaN values
df_cleaned = df.dropna()

# Confirm data shape and missing values
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981 entries, 0 to 1980
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR               1981 non-null   int64
 1   MO                 1981 non-null   int64
 2   DY                 1981 non-null   int64
 3   CLRSKY_SFC_SW_DWN  1981 non-null   float64
 4   T2M                1981 non-null   float64
 5   ALLSKY_SFC_SW_DWN  1981 non-null   float64
 6   RH2M               1981 non-null   float64
 7   WS2M               1981 non-null   float64
 8   ALLSKY_SFC_LW_DWN  1981 non-null   float64
 9   PRECTOTCORR        1981 non-null   float64
dtypes: float64(7), int64(3)
memory usage: 154.9 KB
None

In [19]:
print(df_cleaned.dtypes)

YEAR                   int64
MO                     int64
DY                     int64
CLRSKY_SFC_SW_DWN    float64
T2M                  float64
ALLSKY_SFC_SW_DWN    float64
RH2M                 float64
WS2M                 float64
ALLSKY_SFC_LW_DWN    float64
PRECTOTCORR          float64
dtype: object

In [20]:
print(df_cleaned.describe())

              YEAR           MO           DY  CLRSKY_SFC_SW_DWN          T2M  \
count  1981.000000  1981.000000  1981.000000        1981.000000  1981.000000
mean   2022.233216     6.252903    15.705704        -148.420475    27.893412
std       1.578942     3.463977     8.810331         363.645379     0.801796
min    2020.000000     1.000000     1.000000        -999.000000    25.070000
25%    2021.000000     3.000000     8.000000           6.390000    27.400000
50%    2022.000000     6.000000    16.000000           6.980000    27.980000
75%    2024.000000     9.000000    23.000000           7.200000    28.450000
max    2025.000000    12.000000    31.000000           9.140000    30.510000

       ALLSKY_SFC_SW_DWN         RH2M         WS2M  ALLSKY_SFC_LW_DWN  \
count        1981.000000  1981.000000  1981.000000        1981.000000
mean            3.954255    79.677441     1.508294           9.816280
std            31.912020     3.779722     0.358816           0.245262
min          -999.000000    65.250000     0.660000           8.980000
25%             4.350000    77.110000     1.270000           9.690000
50%             5.150000    79.440000     1.480000           9.790000
75%             5.750000    82.050000     1.690000           9.910000
max             7.510000    93.190000     3.730000          10.880000

       PRECTOTCORR
count  1981.000000
mean      5.942696
std      10.298375
min       0.000000
25%       1.090000
50%       2.920000
75%       6.650000
max     110.160000

In [22]:
print(df[df.eq(-999.0).any(axis=1)])

      YEAR  MO  DY  CLRSKY_SFC_SW_DWN    T2M  ALLSKY_SFC_SW_DWN   RH2M  WS2M  \
1673  2024   7  31             -999.0  28.55               5.84  78.51  1.57
1674  2024   8   1             -999.0  28.41               5.05  78.56  1.75
1675  2024   8   2             -999.0  28.28               5.75  78.02  1.53
1676  2024   8   3             -999.0  28.76               6.22  74.62  1.45
1677  2024   8   4             -999.0  28.43               5.81  79.36  1.78
...    ...  ..  ..                ...    ...                ...    ...   ...
1976  2025   5  30             -999.0  28.49               6.31  78.15  1.33
1977  2025   5  31             -999.0  28.15               5.42  77.91  1.31
1978  2025   6   1             -999.0  28.46               5.16  75.62  1.08
1979  2025   6   2             -999.0  28.29               5.78  77.57  1.34
1980  2025   6   3             -999.0  27.45               3.07  80.63  1.52

      ALLSKY_SFC_LW_DWN  PRECTOTCORR
1673              10.23         4.99
1674              10.30         2.33
1675              10.17         1.98
1676              10.07         3.69
1677              10.13         3.27
...                 ...          ...
1976              10.25         4.34
1977              10.27        10.62
1978              10.37         8.06
1979              10.36        11.09
1980              10.56        14.35

[306 rows x 10 columns]

In [24]:
df.loc[df['CLRSKY_SFC_SW_DWN'] < -998, 'CLRSKY_SFC_SW_DWN'] = pd.NA
df.loc[df['ALLSKY_SFC_SW_DWN'] < -998, 'ALLSKY_SFC_SW_DWN'] = pd.NA

print(df.isna().sum())

YEAR                   0
MO                     0
DY                     0
CLRSKY_SFC_SW_DWN    306
T2M                    0
ALLSKY_SFC_SW_DWN      2
RH2M                   0
WS2M                   0
ALLSKY_SFC_LW_DWN      0
PRECTOTCORR            0
dtype: int64

In [25]:
df_cleaned = df.dropna()
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1675 entries, 0 to 1764
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   YEAR               1675 non-null   int64
 1   MO                 1675 non-null   int64
 2   DY                 1675 non-null   int64
 3   CLRSKY_SFC_SW_DWN  1675 non-null   float64
 4   T2M                1675 non-null   float64
 5   ALLSKY_SFC_SW_DWN  1675 non-null   float64
 6   RH2M               1675 non-null   float64
 7   WS2M               1675 non-null   float64
 8   ALLSKY_SFC_LW_DWN  1675 non-null   float64
 9   PRECTOTCORR        1675 non-null   float64
dtypes: float64(7), int64(3)
memory usage: 143.9 KB
None

In [26]:
print(df_cleaned.describe())

              YEAR           MO           DY  CLRSKY_SFC_SW_DWN          T2M  \
count  1675.000000  1675.000000  1675.000000        1675.000000  1675.000000
mean   2021.818507     6.207164    15.733731           6.968979    27.865528
std       1.337544     3.407343     8.801245           0.378499     0.816078
min    2020.000000     1.000000     1.000000           5.930000    25.070000
25%    2021.000000     3.000000     8.000000           6.715000    27.365000
50%    2022.000000     6.000000    16.000000           7.050000    27.950000
75%    2023.000000     9.000000    23.000000           7.240000    28.410000
max    2024.000000    12.000000    31.000000           9.140000    30.510000

       ALLSKY_SFC_SW_DWN         RH2M         WS2M  ALLSKY_SFC_LW_DWN  \
count        1675.000000  1675.000000  1675.000000        1675.000000
mean            5.019725    79.571164     1.512609           9.743970
std             1.084162     3.853669     0.352027           0.164507
min             0.460000    65.250000     0.660000           8.980000
25%             4.430000    76.925000     1.275000           9.670000
50%             5.170000    79.320000     1.490000           9.760000
75%             5.740000    82.010000     1.700000           9.850000
max             7.510000    93.000000     3.590000          10.370000

       PRECTOTCORR
count  1675.000000
mean      6.091045
std      10.654471
min       0.000000
25%       1.000000
50%       2.880000
75%       6.845000
max     110.160000

In [27]:
print(df_cleaned.isna().sum())

YEAR                 0
MO                   0
DY                   0
CLRSKY_SFC_SW_DWN    0
T2M                  0
ALLSKY_SFC_SW_DWN    0
RH2M                 0
WS2M                 0
ALLSKY_SFC_LW_DWN    0
PRECTOTCORR          0
dtype: int64

In [28]:
# Save the cleaned data to a new CSV file
df_cleaned.to_csv('data/NASA-POWER_CLEANED.csv', index=False)